.catalog-brand-row
  +row()

.catalog-brand
  +col(4)
  +mb(15px)

.catalog-link
  color: #436174
  text-decoration: underline
  +fz(12px)
  +d-display(block)
  &:hover
    text-decoration: none

.name-catalog-title
  font-weight: 600
  color: #515151
  +fz(30px)
  +mb(40px)

.catalog-brand-title
  font-weight: 600
  color: #515151
  +fz(18px)
  +mb(15px)
