.filter-product-wrapper
  border: 1px solid #dee2e6
  +col-margin-lg(3)
  +px(15px)
  +pt(10px)

.filter-product-prices-wrapper
  +mb(45px)

.filter-product-catalog-wrapper
  border: 1px solid #dee2e6
  +mb(35px)
  +px(15px)
  +pt(10px)

.filter-product-checked-wrapper
  cursor: pointer
  +mt(10px)
  +mb(10px)

.catalog-categories-children-wrapper
  +ml(15px)

.filter-product-title
  font-weight: 700
  color: #555
  +fz(14px)
  +mb(10px)

.filter-product-search
  +pl(5px)
  +py(2px)

.filter-product-overflow
  overflow-y: auto
  overflow-x: hidden
  max-height: 200px
  +mt(15px)

.filter-product-checked
  +pl(5px)
  +mb(10px)

.filter-product-checked-name
  +d-display(flex)
  +justify-content-between()
